/* CHARACTER SELECTION CSS */
#characterPortraits{
    width: 260px;
    height: 80%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    margin-top: 15px;
    margin-bottom: 15px;
}
.character{
    width: 80px;
    padding: 1px;
}
.character:hover{
    cursor: pointer;
}
#imgDisabled{
    opacity: 0.55;
}

.flippyButton{
    animation-name: FlipX;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes FlipX{
    from {transform: rotate(0deg)}
    to {-webkit-transform: rotateY(360deg)}
}